#items{
    display:flex;
    flex-wrap:wrap;
  }

.card{
    height:350px;
    width:250px;
    border:solid 1px black;
    position:relative;
    font-family: Roboto, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
.form{
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.name{
    height:50px;
    width:160px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    bottom: 0;
    padding-bottom: 20px;
}

.CardButton{
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    bottom:0;
}

img{
    height:230px;
}

.YAMAHA{
    background-color: green;
    color: white;
}

.Fender{
    background-color: red;
    color: white;
}

.Maton{
    background-color: blue;
    color: white;
}

.popUp{
    height:100%;
    width:100%;
    background-color:rgba(193, 193, 193, 0.66);
    position:absolute;
    top:0;
    left:0;
    display:none;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }